<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="img-responsive" style="max-width: 300px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <a>
            <button class="btn btn-primary dropdown-toggle">Manage <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a>To Shopping List</a></li>
                <li><a>edit</a></li>
            </ul>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Recepie Name
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Recepie Discription
    </div>
</div>