<div class="row">
    <div class="col-xs-12">
        <form>
            <div>
                <button class="btn btn-success" type="submit">Save</button>
                <button class="btn btn-danger" type="button">Cancel</button>
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="imagePath">ImagePath</label>
                <input type="text" class="form-control">
            </div>
            <div>
                <img src="" alt="">
            </div>
            <div class="form-group">
                <label for="discription">Discription</label>
                <textarea name="" id=""rows="4" class="form-control"></textarea>
            </div>
            <div>
                <button class="btn btn-primary" type="button">Add Ingrident</button>
            </div>
        </form>
    </div>
</div>